html,body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    background-color: #ffffff;
    font-weight: bold
}

.menu {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu a {
    margin: 0 auto;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #1e1e1e;
}

.menu a:hover {
    background-color: blue;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.coinname {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #4f5050;
}

.coinname h2 {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    font-size: 50px;
}

.coinvalor {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: #444444;
}

#valor {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    font-size: 30px;
}
